[submodule "tests/kerl-spec"]
	path = tests/kerl-spec
	url = https://github.com/iotaledger/kerl
[submodule "dev/sdk/blue-secure-sdk"]
	path = dev/sdk/blue-secure-sdk
	url = https://github.com/LedgerHQ/blue-secure-sdk.git
[submodule "dev/sdk/nanos-secure-sdk"]
	path = dev/sdk/nanos-secure-sdk
	url = https://github.com/LedgerHQ/nanos-secure-sdk.git
