[submodule "tests/kerl-spec"]
	path = tests/kerl-spec
	url = https://github.com/iotaledger/kerl
[submodule "contrib/blue-app-iota-loader"]
	path = contrib/blue-app-iota-loader
	url = https://github.com/IOTA-Ledger/blue-app-iota-loader.git
